/AuthServer/.vs
/AuthServer/AuthServer.API/obj
/AuthServer/AuthServer.API/bin
/AuthServer/AuthServer.Application/bin
/AuthServer/AuthServer.Application/obj
/AuthServer/AuthServer.Domain/bin
/AuthServer/AuthServer.Domain/obj
/AuthServer/AuthServer.Infrastructure/bin
/AuthServer/AuthServer.Infrastructure/obj
/AuthServer/AuthServer.Persistence/obj
/AuthServer/AuthServer.Persistence/bin
/PlantHere/.vs
/PlantHere/PlantHere/obj
/PlantHere/PlantHere/bin
/PlantHere/PlantHere.Application/obj
/PlantHere/PlantHere.Application/bin
/PlantHere/PlantHere.Domain/obj
/PlantHere/PlantHere.Domain/bin
/PlantHere/PlantHere.Infrastructure/obj
/PlantHere/PlantHere.Infrastructure/bin
/PlantHere/PlantHere.Persistence/obj
/PlantHere/PlantHere.Persistence/bin
/PlantHereNodeJs/Core/PlantHere.Aplication/node_modules
/PlantHereNodeJs/Presentation/PlantHere.WebAPI/node_modules
/PlantHereNodeJs/Core/PlantHere.Domain/node_modules
/PlantHereNodeJs/Infrastructure/PlantHere.Persistance/node_modules
/PlantHereReactJs/plant-here-reactjs/build
/PlantHereReactJs/plant-here-reactjs/node_modules
/PlantHere/PlantHere.Test/bin
/PlantHere/PlantHere.Test/obj
/PlantHere/PlantHere/.vs
